@tailwind base;
@tailwind components;
@tailwind utilities;

.typing-text {
  display: inline; /* Ensure inline display to handle the br correctly */
  animation: typing 4s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}